<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ShopWiseMate{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/phoneTablets">Phones & Tablets</a>
                        <a class="dropdown-item" href="/electronics">Electronics</a>
                        <a class="dropdown-item" href="/appliances">Home & Office Appliances</a>
                        <a class="dropdown-item" href="/computing">Computing</a>
                        <a class="dropdown-item" href="/supermarket">Supermarket</a>
                        <a class="dropdown-item" href="/babyproducts">Baby Products</a>
                        <a class="dropdown-item" href="/sportinggoods">Sporting Goods</a>
                        <a class="dropdown-item" href="/automobile">Automobile</a>
                        <a class="dropdown-item" href="/gaming">Video Games</a>
                        <a class="dropdown-item" href="/gardenoutdoor">Patio, Lawn & Garden</a>
                        <a class="dropdown-item" href="/books_movie_music">Books, Movies & Music</a>
                        <a class="dropdown-item" href="/livestock">Livestock</a>
                        <a class="dropdown-item" href="/industrialscientific">Industrial & Scientific</a>
                        <a class="dropdown-item" href="/miscellaneous">Miscellaneous</a>
                        <a class="dropdown-item" href="/musicalintruments">Musical Instruments</a>
                        <a class="dropdown-item" href="/petsupplies">Pet Supplies</a>
                        <a class="dropdown-item" href="/services">Services</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            {% if session.get('name') %}
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{ session.get('name') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
            {% endif %}
        </ul>

        </div>
    </nav>
    <div class="container mt-4">
        <div class="text-center mb-4">
            <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="ShopWiseMate Logo" class="center-logo">
        </div>
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="shell">
            <section class="column flex">
                <div class="flex vertical margin-0">
                    <div class="footer__inner">
                        <div class="footer__content">
                            <figure class="logo">
                                <a href="https://price.com/" aria-label="Footer Link Price.com">
                                    <img data-src="{{ url_for('static', filename='images/logo1.png') }}" class="ls-is-cached lazyloaded" alt="" src="{{ url_for('static', filename='images/logo1.png') }}">
                                </a>
                                <figcaption>
                                    <span>© ShopWiseMate Technologies Inc.</span>
                                    <span>10000 Santa Monica Blvd</span>
                                    <span>Nairobi, KENYA, 90067</span>
                                </figcaption>
                            </figure>
                            <div class="app-store">
                                <a class="sign-up__app-store" href="https://apps.apple.com/us/app/">
                                    <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/svg/download-apple.svg" class="ls-is-cached lazyloaded" alt="Download on the App Store" width="177" height="53" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/svg/download-apple.svg">
                                </a>
                                <a class="sign-up__app-store sign-up__app-store--google" href="https://play.google.com/store/apps/details?id=com.LogicSquare.Price12">
                                    <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/svg/download-google.svg" class="ls-is-cached lazyloaded" alt="Download on Google Play" width="177" height="53" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/svg/download-google.svg">
                                </a>
                            </div>
                        </div>
                        <div class="footer__aside">
                            <div class="social">
                                <a href="https://www.tiktok.com/">
                                    <figure>
                                        <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/tiktok-black.svg" alt="tiktok" width="17" height="20" class="ls-is-cached lazyloaded" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/tiktok-black.svg">
                                        <figcaption></figcaption>
                                    </figure>
                                </a>
                                <a href="https://www.instagram.com/pricedotcom/">
                                    <figure>
                                        <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/instagram-black.svg" alt="instagram" width="20" height="20" class="ls-is-cached lazyloaded" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/instagram-black.svg">
                                        <figcaption></figcaption>
                                    </figure>
                                </a>
                                <a href="https://www.facebook.com/">
                                    <figure>
                                        <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/facebook-black.svg" alt="facebook" width="11" height="20" class="lazyloaded" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/facebook-black.svg">
                                        <figcaption></figcaption>
                                    </figure>
                                </a>
                                <a href="https://www.pinterest.com/">
                                    <figure>
                                        <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/pinterest-black.svg" alt="pinterest" width="15" height="20" class="lazyloaded" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/pinterest-black.svg">
                                        <figcaption></figcaption>
                                    </figure>
                                </a>
                                <a href="https://twitter.com/">
                                    <figure>
                                        <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/x-black.svg" alt="twitter" width="24" height="20" class="lazyloaded" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/x-black.svg">
                                        <figcaption></figcaption>
                                    </figure>
                                </a>
                            </div>
                            <section class="sign-up column">
                                <h4>Never Miss Another Deal!</h4>
                                <form action="#" class="signup">
                                    <input type="text" name="email" id="email" placeholder="name@gmail.com">
                                    <button class="button" aria-label="Subscribe" type="submit">
                                        <img data-src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/green-subscribe.svg" class="lazyloaded" alt="Subscribe" src="https://dz7smbqkw02oe.cloudfront.net/footer/assets/images/green-subscribe.svg">
                                    </button>
                                </form>
                                <div class="email-message" id="thanks"></div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="footer__cols">
                    <div class="footer__nav">
                        <h6>About</h6>
                        <div class="footer__links">
                            <ul>
                                <li><a href="/">Comparison Shopping</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="footer__nav">
                        <h6>Help</h6>
                        <div class="footer__links">
                            <ul>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__nav">
                        <h6>Tools</h6>
                        <div class="footer__links">
                            <ul>
                                <li><a href="/"> Price Comparison</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
